@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Base code */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    background-color: #FFFFFF;
    min-width: 100%;
    min-height: 100%;
}

/* header code */
.header {
    display: grid;
    grid-template-rows: 144px 274px;
    grid-template-columns: 128px 100px 1fr;
    width: 100%;
    height: 418px;

    background-color: #011827;
}


.navbar {
    opacity: 0;
}

.esc-logo {
    grid-row-start: 1;
    grid-column: 1 / span 1;
    align-self: center;

    width: 128px;
    height: 82px;
    
}

.header-logo {
    grid-row: 1;
    grid-column: 2 / span 1;
    align-self: center;

    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;

    width: 100%;
    margin: 0.5rem;

    color: #FFFFFF;
}
.esc-header {
    
    grid-row: 2;
    grid-column: 1 / span 3;
    
    width: 100%;
    
    height: 100%;
}

/* main code */

.white-btn {
    background-color: #8ACFE5;
    
    width: 308px;
    height: 66px;
    
    display: block;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
}

.btn {
    /* background-color: #E3170A; */
    background-color: none;
    border: none;

    /* width: 308px;
    height: 66px; */
    /* opacity: 0; */
}

/* .quote {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    width: 439px;
    height: 139px;

    margin-left: auto;
    margin-right: auto;
}

.quote-img {
    grid-row-start: 1;
    grid-column: 1 / span 1;
}

.quote p {
    grid-row: 1;
    grid-column: 2 / span 2;
}

.quote-visitor {
    grid-row: 2;
    grid-column: 2 / span 2;
} */

.quote {
    display: flex;
    margin-left: auto;
    margin-right: auto;

    max-width: 439px;
    max-height: 139px;
    
}
.col-1 {
    margin-left: auto;
    margin-right: auto;
}
.col-1 .quote-img {
    display: block;
    float: left;

    /* padding-right: 10px; */
    width: 73,34px;
    height: 72px;
}

.col-1 .quote-txt {
    width: 1fr;
    font-family: Roboto;
    font-size: 24px;
    font-style: italic;
}

.col-2:last-of-type {
    background-color: #E3170A;
}
/* @import "base.css"; */
/* @import "header.css"; */