footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-shrink: 0;
    gap: 2rem;
    background-color: $darkBlue;
    color: $white;

    padding: 3rem 1.2rem;

    .box {
        max-width: 438px;
        flex-shrink: 0;
        font-size: 18px;
        font-weight: 400;

        h4 {
            padding-bottom: 0.5rem;
        }

        ul li {
            list-style-type: none;
            a {
                color: $white;
                text-decoration: none;
            }

        }
        
        .last-ul {
            padding-top: 2rem;
        }
            
    }
}
