@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*variables*/
/*colors*/
$darkBlue: #011827;
$red: #e3170a;
$grey: #B6BDB5;
$blue: #36769D;
$lightblue: #8ACFE5;
$white: #FFFFFF;
$quoteLineHeight: 1.758rem;

/* Base code */
* {
    box-sizing: border-box;
    border: 0 none;
    padding: 0;
    margin: 0;
}

html, body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    
    width: 100%;
    height: 100%;
}

.header {
    display: grid;
    grid-template-columns: 244px 1fr 1fr;
    grid-template-rows: 144px 274px;

    width: 100%;
    background-color: $darkBlue;

    .section-logo {
        grid-row-start: 1;
        grid-column: 1 / span 3;
        
        .section-flex {
            padding-left: 0.75rem;
            margin-top: 1.5rem;

            display: flex;
            align-items: flex-end;
            flex-shrink: 0;
            width: 100%;
            height: 90px;
        }

        .esc-logo {
            display: block;
            width: 128px;
            height: 82px;
        }

        /* fix flex header text so its looks like 
         in the site on 480px and then responsive goes out to
         Hacker Escape Rooms */
        .header-logo {
            font-size: 1.5rem;
            line-height: $quoteLineHeight;
            font-weight: 700;
            color: $white;

            width: 20%;
            flex-shrink: 0;
            padding-left: 0.5rem;
        }

    }
    .navbar {
        display: none;
    }

    .esc-header {
        grid-row: 2;
        grid-column: 1 / span 3;
    
        width: 100%;
        height: 100%;
    }
}

/* main code block */
.main {
    display: flex;
    flex-direction:column;
    width: 100%;
    padding-top: 1.5rem;

    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .blue-btn {
            display: block;
            /* margin-left: auto; */
            /* margin-right: auto; */
            margin-bottom: 2rem;
            width: 308px;
            height: 66px;
    
            background-color: $lightblue;
            border-radius: 5px;
    
            font-size: 1.5rem;
            font-weight: 600;
        }
        
        .btn {
            display: block;
            /* margin-left: auto; */
            /* margin-right: auto; */
            margin-bottom: 3rem;
            
            background-color: $white;
            color: $blue;
            
            font-size: 1rem;
            text-decoration: underline;
        }
    }

    .quote-flex {

        .quote {
            display: flex;
            justify-content: center;
            width: 91.5%;
            flex-shrink: 0;
            height: 141px;
    
            margin-top: 2rem;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 4rem;
    
        }
    
        .hidden {
            display: none;
        }
    }
       .col-1 {
        /* width: 20%; */
        /* flex-shrink: 0; */
       }
   
        .col-2 {
            width: 80%;
            flex-shrink: 0;
            padding-left: 0.5rem;

            line-height: $quoteLineHeight;

            .quote-txt {
                font-size: 1.5rem;
                font-style: italic;
            }

            .source {
                display: block;
                margin-top: 0.2rem;

                font-size: 1.1rem;
            }
        }
        
        /* booking div */
        .booking-header {
            display: block;
            margin-bottom: 2rem;

            font-size: 32px;
            font-weight: 400;
            font-style: normal;
            text-align: center;
        }
        
        .flex-booking {
            display: flex;
            gap: 2rem;
            align-items: stretch;
            height: 446px;
            flex-shrink: 0;

            padding-left: 11%;
            overflow-x: auto;
            width: 100%;
            margin-bottom: 4rem;
    
            .booking {
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
                width: 363px;
                flex-shrink: 0;
                height: 446px;
                border: 1px solid $grey;
                border-radius: 10px;
    
                .img-booking {
                    max-width: 100%;
                    border-top-right-radius: 10px;
                    border-top-left-radius: 10px;

                    height: 219px;
                    width: 100%;    
                    }
                    
                .review {
                    padding: 0.5rem;

                    .review-header {
                        font-size: 28px;
                        font-weight: 400;
                        font-style: normal;

                        padding: 0.5rem 0 0 0.5rem;
                    }

                    .grade {
                        display: flex;
                        width: 100%;
                        flex-shrink: 0;
                        gap: 15px;
                        padding-left: 0.5rem;

                        .stars {
                            img {
                                padding-left: 5px;
                            }
                        }

                        p {
                            font-size: 0.9rem;
                        }
                    }

                    .review-p {
                        font-size: 18px;
                        font-weight: 400;
                        font-style: normal;

                        padding: 0.5rem;
                    }
                }

                .booking-btn {
                    display: block;

                    float: right;
                    margin-top: 1em;
                    margin-right: rem; 

                    font-size: 16px;
                    font-weight: bold;
                    color: $white;
                    background-color: $red;

                    width: 180px;
                    height: 44px;
                    border-radius: 5px;
                }
            }

    }

    .story-col {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0.5rem;
        align-items: center;
        color: $white;
        background-color: $darkBlue;

        width: 100%;
        height: 500px;

        p { 
            font-size: 1.8rem;
            line-height: 33px;

            display: block;
            margin-top: 5rem;
            width: 90%;
            max-width: 632px;
            flex-shrink: 0;
        }

        button {
            font-size: 1.5rem;
            font-family: "Roboto", sans-serif;
            background-color: $darkBlue;
            color: $lightblue;
            
            display: block;
            margin-top: 2rem;
            /* margin-bottom: 2rem; */
            border: 1px solid $lightblue;
            width: 308px;
            height: 66px;
        }
    }



    .picture-grid {
        display: grid;
        width: 100%;

        img {
            width: 100%;
        }

        div {
            width: 100%;
            h2 {
                font-size: 2rem;
                margin-top: 2rem;
                width: 90%;
                margin-left: auto;
                margin-right: auto;
            }

            p {
                font-size: 1.5rem;
                font-style: normal;
                margin-top: 2rem;
                /* padding: 2rem 0.5rem; */
                width: 90%;
                margin-left: auto;
                margin-right: auto; 
            }

            button {
                color: $white;
                background-color: $red;
                border-radius: 10px;

                max-width: 308px;
                max-height: 66px;

                display: block;
                margin: 2rem 0 2rem 1.1rem;
                padding: 1rem 3rem;

                font-size: 24px;
                font-family: "Roboto", sans-serif;
            }

            &:last-child {
                margin-bottom: 4rem;
            }
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: $darkBlue;
    color: $white;

    padding: 3rem 1.2rem;

    .box {
        font-size: 18px;

        h4 {
            padding-bottom: 0.5rem;
        }

        ul li {
            list-style-type: none;
            a {
                color: $white;
                text-decoration: none;
            }

        }
        
        .last-ul {
            padding-top: 2rem;
        }
            
    }
}

@media screen and (min-width: 1280px) {
    body {
        width: 1280px;
        height: 100%;

        margin-left: auto;
        margin-right: auto;
    }
    
    .header {
        grid-template-columns: 244px 1fr 1fr;
        grid-template-rows: 144px  72px 468px;
        
        .section-logo {
            .section-flex {
                .header-logo {
                    width: 40%;
                    font-size: 40px;
                    padding-bottom: 0.5rem;
                }
            }
        }

        .navbar {
            display: flex;
            justify-content: space-around;
            align-items: center;
                
            grid-row-start: 2;
            grid-column: span 3;

            li {
                list-style-type: none;
                /* display: block; */
                    
                a { 
                    display: block;
                    font-size: 1.5rem;
                    font-weight: 700;
                    color: $white;
                    text-decoration: none;
                        
                    &:hover {
                        color: $lightblue;
                    }
                }
            }
            
            .navbar li a:hover {
                text-decoration: underline;
            }
        }
            

        .esc-header {
            grid-row-start: 3;
        }


    }

    .main {

            /* .story-col {
                padding: 2rem 10rem;
            } */
            .picture-grid {
                grid-template-columns: 640px 640px;
                grid-template-rows: 460px 460px;
                img {
                    /* width: auto; */
                    /* height: auto; */
                    object-fit: fill;
                    height: 100%;
                }

                div {
                    padding: 4rem;
                }

                .last-div {
                    grid-row-start: 2;
                    grid-column: 1 / span 1;
                }

                .last-image {
                    grid-row-start: 2;
                    grid-column: 2 / span 2;
                }
            }
    }

    footer {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex: 1 1 460px;
        width: 100%;
        height: 467px;
        flex-shrink: 0;
        
        margin-top: 10rem;
         
       /*  .box {
            width: 1fr;
            flex-shrink: 0;
        } */

        /*.box-1 {
            width: 40%;
            flex-shrink: 0;
        } */
            

    }
}
